{#<script src="/static/js/loader.js" defer></script>
<script src="/static/js/logout.js" defer></script>#}

{# now unused #}
{#
    {% if __modules__ %}
        {% for module in __modules__ %}
        <script defer>
            {{ module | safe }}
        </script>
        {% endfor %}
    {% endif %}
#}

<nav class="navbar">
    <a href="/">twier</a>
    <a href="/frontend/signup">sign up</a>
    <a href="/frontend/login">log in</a>
    <a href="/frontend/status">progess</a>
    <a href="/frontend/search">search</a>
    
    {% if session %}
        <a href="/frontend/account">{{ session.greeting }}, {{ session.name }}</a>
        <a href="/frontend/post/new">new post</a>
    {% endif %} 
</nav>

{% if session.theme is not defined %}
    <style>{% include "base/css/themes/original.css" %}</style>
{% else %}
    <style>{% include "base/css/themes/{{ session.theme }}.css" %}</style>
{% endif %}

<br/>