/* @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended&display=swap');; */

.navbar {
    display: flex;
    gap: 2rem;  /* space between items */
}

* {
    background-color: black;
    color: white;
    font-family: "JetBrains Mono";
}

a {
    font-weight: 300;
    font-style: italic;
    text-decoration: none;
    color: violet;
}

a:hover {
    font-weight: 900;
    text-decoration: none;
    color: purple;
    transition-duration: 200ms;
}

button {
    color: black;
    background: violet;
    /*border-radius: 15px 15px;*/
    border: 0px solid;
    margin: 3px;
}

:root {
    --shakemag: 3px;
}

@keyframes shake {
    0% { transform: translate(
        var(--shakemag),
        calc(var(--shakemag) * -0.5));
    };
    25% { transform: translate(
        calc(var(--shakemag) * -1),
        calc(var(--shakemag) * -0.5));
    };
    50% { transform: translate(
        calc(var(--shakemag) * -1),
        calc(var(--shakemag) * 0.5));
    };
    75% { transform: translate(
        var(--shakemag),
        calc(var(--shakemag) * 0.5));
    };
    100% { transform: translate(
        var(--shakemag),
        calc(var(--shakemag) * -0.5));
    }
}

form {
    display: inline;
    margin: 0;
}

/* button:hover {
    color: white;
    background-color: purple;
} */

/* AI says this is how you make it work on links */
.scary {
    display: inline-block; /* allows borders and background to behave like buttons */
}

.scary:hover {
    animation: shake 0.1s ease-in-out infinite;
    color:red;
    background-color: darkred;
    border: 5px solid maroon;

}

/* .gun:hover::after {
    content: url("https://image.pngaaa.com/583/132583-middle.png");
} */

.post {
    outline: 1px solid white;
    /* width: auto; */
}
.author::after {
    content: " " attr(time);
    font-size: 75%;
    font-style: italic;
}

#post_containers {
    display: grid;
    /* grid-template-columns: repeat(5, auto); */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    row-gap: 0;
}
