<!DOCTYPE html>
<html>
    <head>
        <title>twier -hbsocalmdav</title>
    </head>
    <body>
        {% include "base/global.html" with context %}
        <h1>welcome to twier</h1>
        <p>posts of <b>all</b> time:</p>
        <grid id="post_containers">
            {% for post in posts %}
                {% include "base/post.html" with context %}
            {% endfor %}
        </div>
    </body>
</html>

<style>
#post_containers {
    display: grid;
    /* grid-template-columns: repeat(5, auto); */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    row-gap: 0;
}
</style>