<body>
    {% include "base/global.html" with context %}

    <h1>Sign Up...</h1>
    <div>
        <form action="/frontend/signup/form" method="post">
            <input type="text" id="username" name="username" />
            <label for="username">enter username</label>

            <br/>

            <input type="password" id="passwd" name="passwd" />
            <label for="passwd">enter password</label>

            <br/>

            <input type="submit" value="sign up" />
        </form>
    </div>
</body>
